
/*style for question number 1*/
body{
    background-color:#bdc3c7;
}
h1{
    color:#9b59b6;
}

h2{
    color: orange;
}
div > ul >li{
    color:#0000f0;
    
}
p{
    background-color: yellow;
}
input{
  border:solid 3px red;
}
.hello{
background: white;
}
#special{
    border:solid 2px rgb(23, 82, 199);
}
div>p{
    font-size: 25px;
}
input[type=text]{
    background: gray;
}

div+div+div>p{
    background: pink;
}
div+div+div>p+p{
    border: solid 5px white;
}
div+div+div>p>em{
    color: white;
    font-size: 20px;
}
h1:hover{
  color: blue;
}
a:visited{
  color: gray;
}
:checked{
  margin-left: 50px;
}
#special::first-letter{
  color: green;
  font-size: 100px;
}
label{
  text-transform:uppercase;
}

/* style for question number two*/
.super{
  width: 460px;
  height: 460px;
  margin:5px auto;
  border: none;
}
.upper,.middle{
  width: 150px;
  height: 150px;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  float:left;
}
.upperlast, .middlelast{
  width: 150px;
  height: 150px;
  border-bottom: solid 2px black;
  float:left;
}
.lower{
  width:150px;
  height: 150px;
  border-right: solid 2px black;
  float: left;
}
.lowerlast{
  width: 150px;
  height: 150px;
  float: left;
}

/* style for question number three*/
.body2{
  
  background-color: whitesmoke;
}
#p1{
  background-color: whitesmoke;
}
section{
  float: left;
  width: 620px;
  height: 320px;
  padding: 2%;
}
.red{
  background-color: red;
  width: 600px;
  height: 300px;
}
.yellow{
  background-color: yellow;
  width: 600px;
  height: 300px;
}
.blue{
  background-color: blue;
  width: 600px;
  height: 300px;
}
.white{
  background-color: white;
  width: 600px;
  height: 300px;
}
.green{
  background-color: green;
  width: 600px;
  height: 300px;
}

.Thailand>.white{
  width: 600px;
  height: 200px;
  position: relative;
  top: -250px;
}
.Thailand>.blue{
  width: 600px;
  height: 100px;
  position: relative;
  top: -400px;
}
.Botswana>.blue{
  background-color: rgb(116, 185, 245);
  width: 600px;
  height: 300px;
}
.Botswana>.black{
  background-color: black;
  width: 600px;
  height: 75px;
  position: relative;
  top: -187.5px;
  border-top: 5px white solid;
  border-bottom: 5px white solid;
}
.Benin>.yellow{
  position: relative;
  left: 200px;
  width: 400px;
  height: 150px;
}
.Benin>.red{
  position: relative;
  left: 200px;
  width: 400px;
  height: 150px;
}
.Benin>.green{
  position: relative;
  top: -300px;
  width: 200px;
  height: 300px;
}
.Congo>.green{
  width: 0;
  height: 0;
  background-color: unset;
  border-bottom: 300px solid transparent;
  border-left: 400px solid green; 
  position: relative;
  top: -300px; 
}
.Congo>.red{
  width: 0;
  height: 0;
  background-color: unset;
  border-top: 300px solid transparent;
  border-right: 400px solid red; 
  position: relative;
  top: -600px; 
  left: 200px;
}
.Bangladesh>.red{
  border-radius: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  top: -250px;
  left: 200px;
}
.Guyana>.yellow{
  width: 0;
  height: 0;
  background-color: unset;
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  border-left: 600px solid yellow; 
  position: relative;
  top: -300px;   
}
.Guyana>.red{
  width: 0;
  height: 0;
  background-color: unset;
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  border-left: 300px solid red; 
  position: relative;
  top: -600px;
}

.Iceland>.red-hor{
  background-color: red;
  width: 600px;
  height: 50px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  position: relative;
  top: -175px;
}
.Iceland>.red-ver{
  background-color: red;
  width: 50px;
  height: 300px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  position: relative;
  left: 200px;
  top: -356px;
}
.Iceland>.red{
  width: 60px;
  height: 50px;
  position: relative;
  top: -528px;
  left: 200px;
}
.Faroe>.red-hor{
  background-color: red;
  width: 600px;
  height: 50px;
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
  position: relative;
  top: -175px;
}
.Faroe>.red-ver{
  background-color: red;
  width: 50px;
  height: 300px;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  position: relative;
  left: 200px;
  top: -356px;
}
.Faroe>.red{
  width: 60px;
  height: 50px;
  position: relative;
  top: -528px;
  left: 200px;
}

.Finland>.blue-hor{
  background-color: blue;
  width: 600px;
  height: 50px;
  position: relative;
  top: -175px;
}
.Finland>.blue-ver{
  background-color: blue;
  width: 50px;
  height: 300px;
  position: relative;
  left: 200px;
  top: -350px;
}

.Denmark>.white-hor{
  background-color: white;
  width: 600px;
  height: 50px;
  position: relative;
  top: -175px;
}
.Denmark>.white-ver{
  background-color: white;
  width: 50px;
  height: 300px;
  position: relative;
  left: 200px;
  top: -350px;
}
.Czechia>.white{
  width: 500px;
  height: 0;
  background-color: unset;
  border-top: 150px solid white;
  border-left: 100px solid transparent; 
  border-right: 0px solid transparent;
}
.Czechia>.red{
  width: 500px;
  height: 0;
  background-color: unset;
  border-bottom: 150px solid red;
  border-left: 100px solid transparent; 
  border-right: 0px solid transparent;   
}
.Czechia>.blue{
  width: 0;
  height: 0;
  background-color: unset;
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  border-left: 300px solid blue; 
  position: relative;
  top: -300px;
}


.Armenia>.red{
  height: 100px;
}
.Armenia>.blue{
  height: 100px;
}
.Armenia>.orange{
  width: 600px;
  height: 100px;
  background-color: rgba(233, 173, 7, 0.918);
}
  