
/*style for question number 1*/
body{
    background-color:#bdc3c7;
}
h1{
    color:#9b59b6;
}

h2{
    color: orange;
}
div > ul >li{
    color:#0000f0;
    
}
p{
    background-color: yellow;
}
input{
  border:solid 3px red;
}
.hello{
background: white;
}
#special{
    border:solid 2px rgb(23, 82, 199);
}
div>p{
    font-size: 25px;
}
input[type=text]{
    background: gray;
}

div+div+div>p{
    background: pink;
}
div+div+div>p+p{
    border: solid 5px white;
}
div+div+div>p>em{
    color: white;
    font-size: 20px;
}
h1:hover{
  color: blue;
}
a:visited{
  color: gray;
}
:checked{
  margin-left: 50px;
}
#special::first-letter{
  color: green;
  font-size: 100px;
}
label{
  text-transform:uppercase;
}

/* style for question number two*/
.super{
  width: 460px;
  height: 460px;
  margin:5px auto;
  border: none;
}
.upper,.middle{
  width: 150px;
  height: 150px;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  float:left;
}
.upperlast, .middlelast{
  width: 150px;
  height: 150px;
  border-bottom: solid 2px black;
  float:left;
}
.lower{
  width:150px;
  height: 150px;
  border-right: solid 2px black;
  float: left;
}
.lowerlast{
  width: 150px;
  height: 150px;
  float: left;
}

/* style for question number three*/
.family{
  width: auto;
  margin: auto;
}
.Ethiopia{
  width: 140px;
  height: 90px;
  border: none;
  float: left;
}
.one{
  width: 140px;
  height: 30px;
  background: green;
}
.two{
  width: 140px;
  height: 30px;
  background: yellow;
}
.three{
  width: 140px;
  height: 30px;
  background: red;
}
.India{
  margin-left: 20px;
  width: 140px;
  height: 90px;
  border: none;
  float: left;
}
.Ione{
  width: 140px;
  height: 30px;
  background:red;
}
.Itwo{
  width: 140px;
  height: 30px;
  background:white;
}
.Ithree{
  width: 140px;
  height: 30px;
  background: green;
}

  