nav> ul > li{
    display: inline-block;
    padding: 10px 5px;
    font-size: 20px;
   
}
nav> ul > li>a{
    text-decoration: none;
}
.heading{
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    border-bottom: none;
}
.big{
    width: auto;
    margin: auto;
}

.form{
    float: left;
    margin-left: 2px;
    margin-bottom: 7px;
    display: block;
    width: 300px 
       
}
.mapouter{
    margin-top: 100px;
    margin-left: 200px;
    float: left;
 
}

input[type=text],[type=email],[type=tel], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
}
input[type=submit]{
    width: auto;
    margin-left: 20px;
    height: 30px;
}
.horizontal{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding:10px 5px ;
    border-bottom: solid 1px;
}
