.container{
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto;
    border-bottom: solid 1px;
}
.flexitem{
    width: 300px;
    height: 300px;
    margin: 10px;
}
.container2{
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto;
}
@media only screen and (min-width: 780px){
    .container2{
        flex-direction: row;
    }
}
.flex{
    width: 100px;
    padding: 10px 10px;
    font-size: 20px;
}
.flex>a{
   background: whitesmoke;
    text-decoration: none;
   
}
a:hover{
    color:red;
}

.big{
    width: auto;
    margin: auto;
}

.form{
    float: left;
    margin-left: 2px;
    margin-bottom: 7px;
    display: block;
    width: 300px 
       
}
.mapouter{
    margin-top: 100px;
    margin-left: 200px;
    float: left;
 
}

input[type=text],[type=email],[type=tel], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
}
input[type=submit]{
    width: auto;
    margin-left: 20px;
    height: 30px;
}
.horizontal{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding:10px 5px ;
    border-bottom: solid 1px;
}
.myworks{
    background: whitesmoke;
}
.question{
    width: auto;
    height: auto;
    padding-top: 50px;
    flex-direction: column;
}
.Q{
    padding-top: 10px;
    height: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.Q>a{
    text-decoration: none;
}