body{
    
    background-color: skyblue;
    border: solid 10px lightgray;
    margin: 10px;
}
header{
    background-color: rgba(119, 90, 90, 0.6);

    position: fixed;
    right: 0px;
    width: 100%;
}
section{
    /* border: solid 1px; */
    padding: 5px 30px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}
article{
    line-height: 20px;
    text-align: justify;
    font-size: 15px;
}
.title{
    font-size: 23px;
    font-weight: bold;
}
.title2{
    font-size: 21px;
    font-weight: bold;
}
.title3{
    font-size: 19px;
    font-weight: bold;
}
.date{
    text-transform: lowercase;
    font-style: italic;
    font-size: 15px;
}
/*changing the nature block/inline*/
nav> ul > li{
    display: inline-block;
    padding: 10px 5px;
    font-size: 20px;
   
}
nav> ul > li>a{
    text-decoration: none;
}
img{
    float:left;
    margin-right: 20px;
}
p{
    font-size: 100%;
}
.form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}
input[type=text],[type=email],input[type=tel], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}